#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btn-success {
	float: right;
}

.btn-qty{
	width: 25px;
	height: 25px;
	background-color: #ffffff;
	border: #d00000 1px solid;
	color: #d00000;
	border-radius: 3px;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}

.no-records {
	font-size: 15px;
	text-align: center;
	clear: both;
	margin: 38px 0px;
}