html,body{
    height:100%;
}
.carousel,.item,.active{
    height:100%;
}
.carousel-inner{
    height:100%;
}
	/*------------------------------------
	  Typo
	------------------------------------*/


	h1{font-size: 48px;}
	h2{font-size: 38px;}
	h3{font-size: 28px;}

    hr{height:1px;color:red;background-color:red}

.success{
    color: #3e8f3e;
    background-color: rgb(92, 184, 92);
    text-align: center;
}

.error{
    color: #b8001b;
    background-color: rgba(184, 0, 27, 0.56);
    text-align: center;
}

.dropdown-toggle{
    font-weight: bold;
}

#sub{
    padding-left: 150px;
    padding-right: 150px;
}

.carousel-inner > .item {min-height: 600px; background-size: cover; background-position: center center}

.tab-pane{min-height: 300px;}

.well.login-box {
    /*width:400px; */
    border:#d1d1d1 solid 1px;
    margin:0 auto;
    margin-top:100px;
    margin-bottom: 200px;
}

.btn-primary {
    color: #333;
    background-color: #d2d2d2;
    border-color: #333;
		border-radius: 0; border-width: 4px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.big-padding{padding: 100px 0;}

.popover {z-index: 100; border-radius: 2px; border: 1px solid #eee}
.popover-content img{height:122px;margin-bottom: 15px; width:100%;}

.panel h4{margin:0;}
.panel h4 a{display: block;background: #333;color:#fff;padding: 15px 20px;text-decoration: none;}
.panel h4 a:hover{background: #555;}
.panel-padding{padding: 20px;}

.panel-group .panel{border-radius:0;}

/*------------------------------------
  Animate
------------------------------------*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}